[Unit]
Description=isuride-matcher
After=isuride-go.service
After=isuride-node.service
After=isuride-perl.service
After=isuride-php.service
After=isuride-python.service
After=isuride-ruby.service
After=isuride-rust.service

[Service]
User=isucon
Group=isucon
EnvironmentFile=/home/isucon/env.sh

ExecStart=/bin/sh -c "while true; do curl -s https://isuride.xiv.isucon.net/api/internal/matching; sleep $ISUCON_MATCHING_INTERVAL; done"
ExecStop=/bin/kill -s QUIT $MAINPID

Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
